
.nav-links li {
    /* border: 1px solid; */
    /* margin: 1em 0; */

}

/* ul {
    padding: 0;
    margin: 0;
    width: 10em;
} */


#verypretentious {
    position: fixed;
    width: 100%;
    bottom: 30px;
    align: center;
    justify-content: center;

}

#veryimportant {
    padding: 8px 18px 5px 10px;
}

#dude {
    box-shadow: 0 0 0 0;
    /* height: 100px; */

}

.btn {
    hover: true;
}

.bro {
    height: 100px;
    width: 150px;

    /* padding: 8px 18px 5px 10px; */
}
