.Bio {
    width: 150px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Bio:hover,
.Bio:active {
    background-color: #C0DDF5;
}

.Member {
    margin: 16px 0;
    color: #ccc;
}
