body {
    font-family: 'Khand', sans-serif;
    font-size: 100%;
    height: 300px;
    /* overflow: hidden; */
    background-color: #1e1f23;

}

    body:after {
        content: '';
        /* background-image: url(./rpi.jpg); */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        visibility: visible;
        opacity: 1;
        content: '';
    }

.Bios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 100px;
    color: lavender;
}

.Team ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Team li {
    display: inline-block;
    margin: 20px;
}

.Team a {
    text-decoration: none;
    color: black;
}

.Team a:hover,
.Team a:active, {
    background-color: #f5ebfc;

}
