<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="display">
		<div th:if="${response != null}">
			<div th:if="${response.accepted}" style="background-color:chartreuse;">
				<h1 th:text="${'Welcome ' + response.identity}" style="margin:0">Welcome user</h1>
			</div>
			<div th:if="${!response.accepted}" style="background-color:red;">
				<h1 style="margin:0">Identity unknown</h1>
			</div>
		</div>
		<div th:unless="${response != null}">
			<h1 style="margin:0">Waiting for a response</h1>
		</div>
	</div>
</body>
</html>