<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="table">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Identity</th>
					<th>Location</th>
					<th>Type</th>
					<th>Time</th>
					<th>Success</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="response : ${responses}">
					<td><a th:href="${'/entry/' + response.id}" th:text="${response.id}"></a></td>
					<td th:text="${response.identityCapital}">identity</td>
					<td th:text="${response.locationCapital}">id</td>
					<td th:text="${response.typeCapital eq 'O' ? 'Outgoing' : 'Incoming'}">type</td>
					<td th:text="${response.attempted}">time</td>
					<td th:if="${response.accepted}" style="background-color:chartreuse"></td>
					<td th:unless="${response.accepted}" style="background-color:red"></td>
				</tr>
				<tr th:if="${#lists.isEmpty(responses)}">
					<td colspan="6" align="center">No Records</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>